<h1>Jobs#show</h1>
  <%= @job.title %><br>
  <%= @job.company.name %><br>
  <%= link_to 'job posting', @job.url %><br>
  <%= @job.description %><br>
  <%= @job.requirements %><br>
  <%= @job.instructions %><br>
  <hr>
<h3>Current todos for this job: </h3>

<%= render partial: 'todos/job_todos', locals: { todos: @job_todos } %>