<h3>user: <%= @user.email %></h3>

<div id="user-todos-new">
  <p>Todos rendered via partial</p>
  <%= render partial: 'todos/todos', locals: { todos: @todos } %>
</div>
 
<%= form_for(@todo, method: 'post', url: user_todos_path(@user)) do |f| %>
  <%= form_for([@user, @todo], remote: true) do |f| %>
    <% f.hidden_field :user_id %>
		<%= f.label :description %>
		<%= f.text_area :description %><br>
    <%= f.submit %>
  <% end %>
  <% end %>


<%#= form_for(@user_log, method: 'post', url: user_logs_path) do |f| %>
  <%#= f.label :notes %>
  <%#= f.text_area :notes %>
  <%#= f.submit %>
<%# end %>


<!-- <h4><%#= link_to "Show User Todos", user_todos_path(@user), class: "load-user-todos", remote: true %></h4>
 -->
 