<h2>companies</h2>
<table>
  <th class="col-large">
    <h4><tr align="left">
      <td>name</td>
      <td>city</td>
      <td>state</td>
      <td>website</td>
      <td>about</td>
    </tr></h4>
  </th>
<tr>

<% @companies.each do |company| %>
<tr>
  <td><%= company.name %></td>
  <td><%= company.city %></td>
  <td><%= company.state %></td>
  <td><%= link_to 'website', company.url %></td>
  <td><%= company.about %></td>
  <% end %>
</tr>
</table>
