<div class="nav-bar">
<% if current_user && user_signed_in? %>
  <button><%= link_to "new_company", new_company_path %></button>
  <button><%= link_to "new_contact", new_contact_path %></button>
  <button><%= link_to "new_job", new_job_path %></button>
  <button><%= link_to "new_todo", new_user_todo_path(current_user) %></button><br>
Welcome: <%= current_user.email.upcase %>
<% end %> Current DateTime: <%= Time.new.strftime("%Y-%m-%d %H:%M:%S") %>
</div>